
@{
	ViewBag.Title = "Capture your face";
}
<br />
@if (TempData["error"] != null)
{
    <div class="alert alert-danger">@TempData["error"]</div>
}

<form action="/Login/CheckLogin" method="POST" role="form">
    <div style="width: 980px; text-align: center">
        <div>
            <div id="Camera">
            </div>
            <button class="btn btn-success" onclick="webcam.capture();">
                <span class="glyphicon glyphicon-camera"></span>
                Capture and Login
            </button>
        </div>
    </div>
    <br /><br /><br /><br />
</form>


    @section Scripts {
        @*<script type="text/javascript">
                window.onload = load();

                function load() {
                    //debugger;
                    document.getElementById('Submit1').disabled = true;
                }

            </script>*@
        <script src="@Url.Content("~/Scripts/App/jquery.webcam.js")"></script>

        <script>
            $("#Camera").webcam({
                width: 320,
                height: 240,
                mode: "save",
                swffile: "@Url.Content("~/Scripts/App/jscam.swf")",
                onTick: function () { },
                onSave: function () {
                    UploadPicture();
                },
                onCapture: function () {
                    webcam.save("@Url.Content("~/Login/Capture")/");
                },
                debug: function () { },
                onLoad: function () { }

            });

        </script>

    }
