
@{
	ViewBag.Title = "LOGIN";
}

<div class="col-md-12 col-lg-12">
	<div class="jumbotron LoginForm">
		<div class="container">
			<form action="/Login/Face" method="POST" role="form">
				<legend>LOGIN</legend>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" required>
				</div>
				<button type="submit" class="btn btn-success">Continue ></button>
			</form>
			<hr />
			<a href="/Login/Register">Register</a>
		</div>
	</div>
</div> 

